<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @supplement.category.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @supplement.brand.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @supplement.name %>
</p>

<%= link_to 'Edit', edit_supplement_path(@supplement) %> |
<%= link_to 'Back', supplements_path %>
